.popup__heading {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  font-family: "inter", "Arial", sans-serif;
}

@media screen and (max-width:600px) {
  .popup__heading {
      font-size: 18px;
      line-height: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
}