.popup__close-button {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Close.svg);
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  box-sizing: border-box;
  border: none;
  padding: 0;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}


@media screen and (max-width:600px) {
  .popup__close-button {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
  }
}