.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 880px) {
    .profile {
        padding: 0 19px 0;
    }
}

@media screen and (max-width: 650px) {
    .profile {
       flex-direction: column;
       box-sizing: border-box;
    }
}