.card__like {
    background-image: url(../../../images/Vectorlove.svg);
    min-width: 22px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    padding: 0;
}

.card__like:hover {
    opacity: .5;
    cursor: pointer;
}

