.header {
    max-width: 880px;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 74px;
    border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
    margin-top: 45px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0 27px 0;
        margin-top: 28px;
        min-height: 56px;
    }
}